.App {
  margin: 0 auto;
  width: 50%;
}

.toolbar {
  padding: 10px 0;
}
.btn {
  margin-right: 5px;
  border-radius: 0px;
  border-width: 1px;
  padding: 5px 10px;
}
.btn:focus {
  outline: none;
}
.projects {
  width: 100%;
  columns: 3;
  column-gap: 5px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.select {
  background-color: gray;
}
